/* This is the css for my homepage */

body{
height:auto;
}
#a_pad{
padding-right:0px;


background-color: rgb(43, 58, 68);
}
aside{
padding-top:2em;
height:625px;
padding-right:0px;
}
aside img {
display:block;
margin:0 auto;
border-radius: 100%;
background-color:#fff;


}
#btn-package{
margin-top: 15em;

}


#art{
/* background-image:url("http://media02.hongkiat.com/nature_wallpapers/Viva-La-Nature-5-(15).jpg");
 */
 background-image:url("http://www.hdwallpapers.in/walls/lake_sunset-wide.jpg");
 background-position:center;
background-size:cover;
height:625px;
padding-top:1em;
}
small{
text-align:center;
color: white;
font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;

}
.side-bar-btns{
width:100%;
border-radius:0px;
background-color:#696969;
border-color:white;
border:none;

}
ul{
width:90%;
margin: 0 auto;
font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;


padding-left: 1em;
}

li{
list-style-type: none;
}
#art h1{
text-align:center;
/* font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 */
 font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
 color:white;
font-size:6em;
}

.my_arr{
float:left;
}


a{
text-align:left;
}
footer{
background-color:black;
height:27px;
}

footer div small{
padding-left:5.9em;
}
